In [ ]:
# !pip install --upgrade pip

# Library supporting .xlsx file
# !pip install openpyxl

# Library supporting .ods file
# !pip install odfpy

# Library for google colab (Reading Datasets from google cloud)
# !pip install google-cloud
# !pip install google-cloud-vision

In [ ]:
import pandas as pd


# income_and_tax = pd.read_excel('7.Income_and_tax_by_county_and_region_21_22.ods')
def merge_three_datasets(sheet_start, title_1, title_2, title_3):
    raw_1 = pd.read_excel('../datasets/House_price_to_workplace-based_earnings_ratio.xlsx', header=1, sheet_name=sheet_start)
    raw_2 = pd.read_excel('../datasets/House_price_to_workplace-based_earnings_ratio.xlsx', header=1, sheet_name=sheet_start+1)
    raw_3 = pd.read_excel('../datasets/House_price_to_workplace-based_earnings_ratio.xlsx', header=1, sheet_name=sheet_start+2)
        

    df_1a = pd.DataFrame(raw_1)
    df_1b = pd.DataFrame(raw_2)
    df_1c = pd.DataFrame(raw_3)

    flat_1a = pd.melt(df_1a, id_vars=['Code', 'Name'], var_name='Year',
                                value_name=title_1)
    flat_1b = pd.melt(df_1b, id_vars=['Code', 'Name'], var_name='Year',
                                value_name=title_2)
    flat_1c = pd.melt(df_1c, id_vars=['Code', 'Name'], var_name='Year',
                                value_name=title_3)
    
    flat_1a['Year'] = pd.to_datetime(flat_1a['Year'].str[-4:])
    flat_1b['Year'] = pd.to_datetime(flat_1b['Year'], format='%Y')
    flat_1c['Year'] = pd.to_datetime(flat_1c['Year'], format='%Y')
    
    return flat_1a.merge(flat_1b, on=['Code', 'Name', 'Year'], how='outer')\
                  .merge(flat_1c, on=['Code', 'Name', 'Year'], how='outer')

## Median house price, Gross annual, and its ratio from England and Wales, 1997-2022
### Country and Region

In [ ]:
eng_cym_region = merge_three_datasets(3, title_1="Median_price", title_2="Median_earning", 
                                     title_3="price_to_earning")

eng_cym_region_low_q = merge_three_datasets(6, title_1="Low_q_Median_price", title_2="Low_q_Median_earning", 
                                           title_3="Low_q_price_to_earning")

eng_cym_region_merged = pd.merge(eng_cym_region, eng_cym_region_low_q, on=['Code', 'Name', 'Year'])
column_order = ['Code',	'Name',	'Year',	'Median_price', 'Low_q_Median_price', 
                'Median_earning', 'Low_q_Median_earning', 'price_to_earning', 'Low_q_price_to_earning']
eng_cym_region_merged = eng_cym_region_merged[column_order]
eng_cym_region_merged

## Median house price, Gross annual, and its ratio from England and Wales, 1997-2022
### Country and Region

In [ ]:
eng_cym_county = merge_three_datasets(9, title_1="Median_price", title_2="Median_earning", 
                                      title_3="price_to_earning")
eng_cym_county_low_q = merge_three_datasets(12, title_1="Low_q_Median_price", title_2="Low_q_Median_earning", 
                                           title_3="Low_q_price_to_earning")

eng_cym_county_merged = pd.merge(eng_cym_county, eng_cym_county_low_q, on=['Code', 'Name', 'Year'])
column_order = ['Code',	'Name',	'Year',	'Median_price', 'Low_q_Median_price', 
                'Median_earning', 'Low_q_Median_earning', 'price_to_earning', 'Low_q_price_to_earning']
eng_cym_county_merged = eng_cym_county_merged[column_order]
eng_cym_county_merged

## Median house price, Gross annual, and its ratio from England and Wales, 1997-2022
### Local Authority District

### N.B: Here some NaNs are observed

In [ ]:
eng_cym_local = merge_three_datasets(9, title_1="Median_price", title_2="Median_earning", 
                                      title_3="price_to_earning")
eng_cym_local_low_q = merge_three_datasets(12, title_1="Low_q_Median_price", title_2="Low_q_Median_earning", 
                                           title_3="Low_q_price_to_earning")

eng_cym_local_merged = pd.merge(eng_cym_local, eng_cym_local_low_q, on=['Code', 'Name', 'Year'])
column_order = ['Code',	'Name',	'Year',	'Median_price', 'Low_q_Median_price', 
                'Median_earning', 'Low_q_Median_earning', 'price_to_earning', 'Low_q_price_to_earning']
eng_cym_local_merged = eng_cym_local_merged[column_order]
eng_cym_local_merged

In [ ]:
eng_cym_region_merged.to_csv('price_earnings_eng_cym_wrangled.csv', index=False)