In [332]:
# !pip install xlrd

In [1]:
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
def read_ods(year):
    extract = pd.read_excel('../datasets/Income_and_tax/Income_and_tax_{}_{}.ods'.format(year,year+1), sheet_name=1, header=4)
    extract = extract[extract['Region / County codes'].isin(['K02000001', 'E92000001', 'W92000004', 'S92000003', 'N92000002'])]
    extract['Year'] = int("20"+str(year))
    selected_columns = extract[['Region/County', 'Total income: Mean', 'Total tax: Mean', 'Year']]
    selected_columns = selected_columns.rename(columns={
    'Total income: Mean': 'average_income',
    'Total tax: Mean': 'average_tax',
    'Region/County': 'Name',
    'Year': 'Year'
    })
    column_order = ['Name', 'Year', 'average_income', 'average_tax']
    selected_columns = selected_columns[column_order]
    df = pd.DataFrame(selected_columns)
    
    return df

In [7]:
def read_previous_formats(year):
    if year >= 17:
        if year == 18:
            extract = pd.read_excel('../datasets/Income_and_tax/Income_and_tax_{}_{}.ods'.format(year,year+1), sheet_name=1, header=[3,4])
        else:
            extract = pd.read_excel('../datasets/Income_and_tax/Income_and_tax_{}_{}.xlsx'.format(year,year+1), header = [6,9])
        extract.columns = ['_'.join(col).strip() for col in extract.columns.values]
        extract = extract[extract['Region/County_Unnamed: 1_level_1'].isin(['United Kingdom', 'England', 'Wales', 'Scotland', 'Northern Ireland'])]
        average_income = extract['Total income_Mean']
        average_tax = extract['Total tax_Mean']
        
        df = pd.DataFrame({
            'Name': extract['Region/County_Unnamed: 1_level_1'],
            'Year': int("20"+str(year)),
            'average_income': average_income,
            'average_tax': average_tax,
        })
        
    else:
        if year >= 13:
            extract = pd.read_excel('../datasets/Income_and_tax/Income_and_tax_{}_{}.xlsx'.format(year,year+1), header = [6,9])
        else:
            extract = pd.read_excel('../datasets/Income_and_tax/Income_and_tax_{}_{}.xls'.format(year,year+1), header = [6,9])
        extract.columns = ['_'.join(col).strip() for col in extract.columns.values]
        extract = extract[extract['County_Unnamed: 0_level_1'].isin(['United Kingdom', 'England', 'Wales', 'Scotland', 'Northern Ireland'])]
        average_income = extract['Total income_Mean']
        average_tax = extract['Total tax_Mean']
        
        df = pd.DataFrame({
            'Name': extract['County_Unnamed: 0_level_1'],
            'Year': int("20"+str(year)),
            'average_income': average_income,
            'average_tax': average_tax,
        })
    
    return df

In [8]:
read_previous_formats(10)

                Name  Year  average_income  average_tax
3     United Kingdom  2010         27400.0       4850.0
6            England  2010         28000.0       5030.0
85             Wales  2010         22500.0       3230.0
88          Scotland  2010         25200.0       4030.0
91  Northern Ireland  2010         23100.0       3470.0

In [9]:
for year in range(19,22):
    read_ods(year)

In [10]:
def merge_all_years_tax():
    df_list=[]
    for year in range(19,22):
        new_df = read_ods(year)
        df_list.append(new_df)
    for year in range(10,19):
        new_df = read_previous_formats(year)
        df_list.append(new_df)
    combined_df = pd.concat(df_list, ignore_index=True)
    return combined_df

In [12]:
df_raw = merge_all_years_tax()
df = df_raw.sort_values(by='Year')

In [13]:
df

                Name  Year  average_income  average_tax
19  Northern Ireland  2010         23100.0       3470.0
18          Scotland  2010         25200.0       4030.0
17             Wales  2010         22500.0       3230.0
16           England  2010         28000.0       5030.0
15    United Kingdom  2010         27400.0       4850.0
21           England  2011         29400.0       5250.0
24  Northern Ireland  2011         24200.0       3520.0
23          Scotland  2011         27000.0       4260.0
22             Wales  2011         23700.0       3310.0
20    United Kingdom  2011         28800.0       5060.0
28          Scotland  2012         27800.0       4380.0
27             Wales  2012         24300.0       3330.0
26           England  2012         30100.0       5320.0
25    United Kingdom  2012         29600.0       5140.0
29  Northern Ireland  2012         24900.0       3530.0
34  Northern Ireland  2013         25600.0       3480.0
33          Scotland  2013         29100.0       4540.0
32             Wales  2013         25600.0       3430.0
31           England  2013         31900.0       5630.0
30    United Kingdom  2013         31300.0       5410.0
39  Northern Ireland  2014         26200.0       3500.0
38          Scotland  2014         29700.0       4590.0
37             Wales  2014         26300.0       3500.0
36           England  2014         32500.0       5650.0
35    United Kingdom  2014         31800.0       5430.0
42             Wales  2015         27100.0       3590.0
40    United Kingdom  2015         33400.0       5750.0
41           England  2015         34200.0       6030.0
44  Northern Ireland  2015         27400.0       3680.0
43          Scotland  2015         30700.0       4720.0
45    United Kingdom  2016         33500.0       5580.0
49  Northern Ireland  2016         27200.0       3490.0
48          Scotland  2016         30700.0       4530.0
47             Wales  2016         27100.0       3440.0
46           England  2016         34300.0       5860.0
54  Northern Ireland  2017         28800.0       3660.0
53          Scotland  2017         31500.0       4610.0
52             Wales  2017         28200.0       3550.0
51           England  2017         35500.0       6040.0
50    United Kingdom  2017         34700.0       5800.0
55    United Kingdom  2018         35400.0       5900.0
56           England  2018         36200.0       6190.0
57             Wales  2018         28900.0       3640.0
59  Northern Ireland  2018         29200.0       3700.0
58          Scotland  2018         32200.0       4840.0
4   Northern Ireland  2019         30600.0       3810.0
3           Scotland  2019         33300.0       4940.0
2              Wales  2019         30000.0       3690.0
1            England  2019         37500.0       6260.0
0     United Kingdom  2019         36700.0       6010.0
9   Northern Ireland  2020         31100.0       3930.0
8           Scotland  2020         33600.0       5000.0
7              Wales  2020         30400.0       3790.0
6            England  2020         38200.0       6500.0
5     United Kingdom  2020         37300.0       6180.0
14  Northern Ireland  2021         32400.0       4250.0
13          Scotland  2021         35100.0       5430.0
12             Wales  2021         31600.0       4040.0
11           England  2021         40300.0       7160.0
10    United Kingdom  2021         39400.0       6850.0

In [14]:
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
plt.figure(figsize=(14,7))
plt.title('Trend of Price to Earning Ratio Over Time (Median)')
plt.xlabel('Year')
plt.ylabel('Price to Earning Ratio')
plt.grid(True)

for name, group in df.groupby('Name'):
    plt.plot(group['Plot_Year'], group['price_to_earning'], label=name)

plt.legend()
plt.show()